/* *{
  font-family: 'Londrina Shadow', cursive;
  font-weight: bold;
}

video {
  max-width: 100%;
  height: auto;
}
.mainVideo{

    display: flex;
    justify-content: center;
    align-items: center;
  
  
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


.heading{
  position:relative !important;
  top: 450px;
}

#header {
  padding: 2rem;
  color: #202020;
  height: 135vh;

}

#menu {
  background: white;
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;
}

#menu.open {
  opacity: 1;
  visibility: visible;
}

#menu.open li:nth-child(1) {
  animation-delay: 0.1s;
}

#menu.open li:nth-child(2) {
  animation-delay: 0.2s;
}

#menu.open li:nth-child(3) {
  animation-delay: 0.3s;
}

#menu.open li:nth-child(4) {
  animation-delay: 0.4s;
}

#menu.open li:nth-child(5) {
  animation-delay: 0.5s;
}

#menu.open li:nth-child(6) {
  animation-delay: 0.6s;
}

#menu.open li:nth-child(7) {
  animation-delay: 0.7s;
}

#menu.open li:nth-child(8) {
  animation-delay: 0.8s;
}

#menu.open li:nth-child(9) {
  animation-delay: 0.9s;
}

#menu.open li:nth-child(10) {
  animation-delay: 1s;
}

#menu.open li {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

#menu ul:hover a {
  opacity: 0.5;
}

#menu ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}

#menu ul a:hover {
  opacity: 1;
}

#menu .main-nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#menu .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu .main-nav a {
  color: black;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#menu .main-nav a:first {
  padding-top: 0;
}

#menu .menu-footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

#menu .menu-footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu .menu-footer ul li {
  display: inline;
  margin: 0 1rem;
}

#menu .menu-footer a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* Custom burger Icon */
/* .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

#header>nav>button {
  background-color: transparent;
  border: none !important;
}

#menu > button{
  border: none;
  background-color: transparent;
  position: absolute;
  left: 32px;
  top: 32px;
} */

/* Custom burger Icon */


  /* nav {
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
  } */


  