<section id="one" #One > 
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h3 class="About-Us">
      About Us
    </h3>
    <h1 class="main-heading">
      We offer payroll solutions to businesses and contractors.
    </h1>
    <p class="main-para">
      Bees Umbrella provides professional assistance and advice to organisations seeking to grow their manpower, while our umbrella solutions provide contractors with the extensibility and confidentiality of a full-time employee. Our customised method guarantees that you are paid on the same day, that your tax plans are managed skilfully, and, the more importantly, that you have no company role and responsibility, enabling you to enjoy your contracting and spare time.
    </p>
  </div>
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item " src="../../assets/imgs/secondary-video.mp4" autoplay loop [muted]="true" [width]="620" ></video>
    </div>
  </div>
</div>
<div class="row">
  
  <div class="col-md-6">
    
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
     
    </div>
  </div>


<!-- progressive bars -->
<div class="row"> 
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Compliance</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Speed</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="row"> 
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Informative</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Customer Support</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- progressive bars -->

<!-- <div class="container"> -->
  <div class="row mt-4">
      <!-- <button type="button" class="btn btn-outline-primary w-100" (click)="runToaster()">Primary</button> -->
      <div class="col-md-4 mb-2">
        <!-- flip-card-container -->
<div class="flip-card-container">
<div class="flip-card">

<div class="card-front">

<div class=" card-responsive d-flex align-items-center  justify-content-center  ">
<div class=" d-flex align-items-center justify-content-center rounded mb-2">
    <i class="fas fa-umbrella text-white text-end display-6"></i>
</div>
<div class="ps-3">
    <h6 class=" text-white fw-bolder mb-0"> PAYE Umbrella </h6>
    <p class="text-white text-start mb-0">Discover Our Services</p>
</div>
</div>
</div>

<div class="card-back">
<ul>
  <li>
    Simple Hassle Free Set-up.
  </li>
  <li>
    Short-Term Contracts (3 months)
  </li>
  <li>
    Retain Your PAYE Tax Credit.
  </li>
</ul>
</div>
</div>
</div> 
</div>
      <div class="col-md-4 mb-2">
        <!-- flip-card-container -->
<div class="flip-card-container" >
<div class="flip-card">

<div class="card-front card-body">

<div class="card-responsive  d-flex align-items-center  justify-content-center">
<div class=" d-flex align-items-center justify-content-center rounded mb-2">
  <i class="card-text fas fa-coins text-white display-6"></i>
</div>
<div class="ps-3">
  <h5 class="text-white mb-0 card-text fw-bolder">Agency Managment </h5>
  <p class="text-white mb-0">Discover Our Services</p>
</div>
</div>
</div>

<div class="card-back">
</div>
</div>
</div>
</div>
      <div class="col-md-4 mb-2">
        <!-- flip-card-container -->
<div class="flip-card-container" >
<div class="flip-card">

<div class="card-front">

<div class=" card-responsive d-flex align-items-center  justify-content-center">
<div class=" d-flex align-items-center justify-content-center rounded mb-2">
  <i class="fas fa-handshake text-white display-6"></i>
</div>
<div class="ps-3">
  <h5 class="text-white mb-0 fw-bolder">Limited Company </h5>
  <p class="text-white mb-0">Discover Our Services</p>
</div>
</div>
</div>
<div class="card-back">
</div>
</div>
</div>
      </div>

  </div>
</div>
<!-- </div> -->
     <!-- flip card -->

    
</section>
<!-- flip card -->
<section id="two" #Two>



<!------------------------------- Why-Join Us Our Team  -->
<div class="container">
  <div class="row">
    <h2 class="text-center main-heading mb-5">Why Join Us Our Team?</h2>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="d-flex align-items-center flex-column  justify-content-center">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-solid fa-user-plus text-white display-5"></i>
            </div>
            <div class="heading text-white">
              Flexibilty
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
              <p class="text-start"> Contracting allows you to work when and how you want.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-sharp fa-solid fa-chart-pie text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">
                Hassle Free Tax
              </div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
             <p class="text-start"> There is nothing to worry about as everything we do compliance under UK laws and regulations.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-sharp fa-solid fa-shield-halved text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">Full Protection</div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
             <p class="text-start" > Umbrella services provides you with the security of a full-time employee. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-solid fa-credit-card text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">Quick Payments</div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
              <p class="text-start"> Get paid weekly and in a way that works for you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
   
  </div> -->
</div>
<!------------------------------- Why-Join Us Our Team  -->


</section> 

<section id="three" #Three>
 <!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mainImage container h-100 d-flex align-items-center">
      </div>
    </div>
  </div>
 </div> -->

 <!---------------------- Our-Service -->
 <div class="container">
  <h2 class="service text-center main-heading mb-4">Our Services</h2>
  <div class="row">
    <div class="col-md-4 mb-2">
      <div class="box w-100 border-dark border-2 rounded bg-dark d-flex align-items-center px-4">
        <p class="text-center">
          Bees Umbrella Ltd offer expert assistance and advice to help the company grow, and
                  we are here to support you as you broaden, no matter what hurdles arise.
        </p>
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="box w-100 border-dark border-2 rounded bg-dark d-flex align-items-center px-4">
        <p class="text-center">
          Bees Umbrella Ltd offer expert assistance and advice to help the company grow, and
                  we are here to support you as you broaden, no matter what hurdles arise.
        </p>
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="box w-100 border-dark border-2 rounded bg-dark d-flex align-items-center px-4">
        <p class="text-center">
          Bees Umbrella Ltd offer expert assistance and advice to help the company grow, and
                  we are here to support you as you broaden, no matter what hurdles arise.
        </p>
      </div>
    </div>
  </div>
</div>
 <!---------------------- Our-Service -->
</section>

<section id="four" #Four>
  <div class="container">
    <div class="row">
      <div class="col-md-4  mb-2">
<div class=" bg-yellow text-center card h-100">
  <img class="card-img-rounded mx-auto d-block  w-25 h-25 my-4" src="../../assets/imgs/umbrella-icon.png" alt="">
  <div class="card-body">
    <h5 class="card-title fw-bolder">PAYE Umbrella</h5>

    <p class="px-3 pb-3 text-center card-text">All contractors should utilize an umbrella company, such as Bees Umbrella, because it is a more
        convenient way of working as well as guarantees that you are protected by professional indemnity, public
        liability, and employer's liability insurance.</p>
  </div>
  </div>


      </div>
      <div class="col-md-4 mb-2">
        <div class=" bg-yellow text-center card h-100">
          <img class="card-img-rounded mx-auto d-block w-25 h-25 my-4" src="../../assets/imgs/Handshake.png" alt="">
          <div class="card-body">
            <h5 class="card-title fw-bolder">AGENCIES</h5>
            <p class="px-3 pb-3 card-text "> Making sure that you pay your employees on schedule and in a timely basis will enable you to expand as
              an agency. We collaborate with you and your contractors to ensure that everyone is paid timely and in
              accordance with the law.</p>
          </div>
        
        </div>
      </div>
      <div class="col-md-4 mb-2 ">
        <div class=" bg-yellow text-center card h-100">
          <img class="card-img-rounded mx-auto d-block w-25 h-25 my-4" src="../../assets/imgs/Ltd-icon.png" alt="">
         <div class="card-body">
          <h5 class="card-title fw-bolder">LIMITED COMPANY</h5>
          <p class="px-3 pb-3">You may be looking for ways to enhance your work-life balance if you run a small business. You can rely
            on Bees Umbrella instead of devoting your free time to payroll and documentation. We are here to help
            your company's payroll run as smoothly as possible.</p>
         </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
<section id="five" #Five>
  <div class="container  p-0 my-5 ">
    <div class="row   ">
      <div class="col-md-6 ">
        <div class="bgImage border-primary">
            <div class="px-5">
             <h2 class="text-center pt-5" > Contact-Us</h2>
             <p class="mt-5">To start your journey towards hassle-free payroll, call to speak to a consultant or register to receive a callback.</p>
             <button type="button" class="btn text-white mt-3 d-block mb-4 bg-yellow rounded-0"><i class="fa-solid fa-phone me-2"></i>030328423</button>
             <span class="pt-5">If you have another query please feel free to fill in our contact form.</span>
             <button type="button" class="btn registerbtn btn-yellow ms-2 d-block w-100 rounded-0"><i class="fa-solid fa-calendar-days me-2"></i><span>Register-here</span></button>
            </div>
        </div>
      </div>
    <div class="col-md-6 bg-yellow g-0 formContainer">
      <div class="formbox p-3">
        <form (ngSubmit)="submitContactForm()" [formGroup]="contactForm">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3 nameBlock">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text"  class="form-control" formControlName="firstName">
    
                <!-- Vaidation -->
                <div class="error  text-danger"
                  *ngIf="contactForm.controls['firstName'].invalid && (contactForm.controls['firstName'].dirty || contactForm.controls['firstName'].touched)">
                  <span *ngIf="(contactForm.controls['firstName'].errors.pattern)">
                      Only Alphabest Allowed !!</span>
                  <span *ngIf="contactForm.controls['firstName'].errors.required">
                      <small>Field Required!</small>
                  </span>
               </div>
                <!-- Vaidation -->
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="mb-3 numberblock">
                <label for="exampleInputEmail1" class="form-label d-block">Number</label>
               <img src="../../assets/imgs/uk.png" alt="" srcset="" class="image-fluid ukImage"> <input type="tel" class="form-control d-inline-block numberInput ms-2" formControlName="phone">
               <!-- Vaidation -->
               <div class="error  text-danger"
                    *ngIf="contactForm.controls['phone'].invalid && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)">
                    <span *ngIf="(contactForm.controls['phone'].errors.pattern)">
                        Phone Number should be numeric</span>
                        <span *ngIf="contactForm.controls['phone'].errors.minlength || contactForm.controls['phone'].errors.maxlength ">
                            <small>Phone number must be at least 11 numbers</small></span>
                    <span *ngIf="contactForm.controls['phone'].errors.required">
                        <small>Field Required!</small>
                    </span>
              </div>
               <!-- Vaidation -->
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="emailAddress">
            <!-- Vaidation -->
            <div class="error  text-danger"
            *ngIf="contactForm.controls['emailAddress'].invalid && (contactForm.controls['emailAddress'].dirty || contactForm.controls['emailAddress'].touched)">
            <span *ngIf="contactForm.controls['emailAddress'].errors.email">
                <small>Use correct pattern as example@example.com</small></span>
            <span *ngIf="contactForm.controls['emailAddress'].errors.required">
                <small>Field Required!</small>
            </span>
        </div>
            <!-- Vaidation -->
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Subject</label>
            <input type="text" class="form-control" formControlName="subject">
            <!-- Vaidation -->
            <div class="error  text-danger"
                *ngIf="contactForm.controls['subject'].invalid && (contactForm.controls['subject'].dirty || contactForm.controls['subject'].touched)">
                <span *ngIf="contactForm.controls['subject'].errors.maxlength ">
                    <small>Subject should not more than 20 characters</small></span>
                <span *ngIf="contactForm.controls['subject'].errors.required">
                    <small>Field Required!</small>
                </span>
            </div>
            <!-- Vaidation -->
          </div>
          <label for="" class="mb-3">Message</label>
          <textarea name="" id="" cols="30" rows="10" class="w-100" formControlName="message">
            <!-- Vaidation -->
            <div class="error  text-danger"
            *ngIf="contactForm.controls['message'].invalid && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)">
            <span *ngIf="contactForm.controls['message'].errors.maxlength ">
                <small>Message should not more than 500 characters</small></span>
            <span *ngIf="contactForm.controls['subject'].errors.required">
                <small>Field Required!</small>
            </span>
        </div>
            <!-- Vaidation -->
          </textarea>
          <button type="submit" class="btn btn-outline-dark w-100 mt-3 rounded-0" [disabled]="contactForm.invalid">Submit</button>
        </form>
     </div>
    </div>
  </div>
  </div>
</section>