/* section{
    height: 100vh;
}
.redbtn{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 0%;
    border-color: red;
} */

/* progressive bars */
.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  background-color:white;
  
}
.progress-bar .title {
  opacity: 0;
  animation: show 0.35s forwards ease-in-out 0.5s;
}
@keyframes progress {
  from {
    width: 0;
 }
  to {
    width: 100%;
 }
}
@keyframes show {
  from {
    opacity: 0;
 }
  to {
    opacity: 1;
 }
}
@media (max-width: 1199px){ 
  .progressBarBox{
    margin-top: 18px;
  }
}


.About-Us{
  font-family: Merriweather,serif;
}
.main-heading{
  font-family: Merriweather,serif;
  font-weight: 700;
}
@media (max-width: 1199px){ 
  .About-Us{
    font-size: 26px;
  }
  .main-heading{
    font-size: 33px;
  }
}
.main-para{
  font-family: poppins;
  font-weight: 400;
}
/* :default-color */
.bg-yellow{
  background: rgb(242, 199, 68)
}
/* :default-color */

/* progressive bars */

/*********************>>  */
/* 
    ================================
        Best Viewed In Full Page
    ================================
*/

/* Hover over a card to flip, can tab too. */



/* .flip-card-container */
.flip-card-container {
 

  width: 100%;
  height: 20vh;
  /* margin: 40px; */

  perspective: 1000px;
  
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: absolute;
  transform-style: preserve-3d;
  transition: .6s .1s;
  
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;


  background: rgb(242, 199, 68);
  
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}
/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}
@media (max-width: 767px) {
 .flip-card-container{
  margin-bottom: 10px;
 }


}


/*=======================>> Service Card */
   .box{
    height: 25vh;
    /* background: rgb(242, 199, 68); */
   }
/*=======================>> Service Card */
/*=======================>> Service Card-2 */
.wrapper{
  height: 35vh;
}
/*=======================>> Service Card-2 */
/*=======================>> Contact Form */
/*  */
.bgImage{
  background-image: url('https://images.unsplash.com/photo-1540457943340-2e70b692e50e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHN1biUyMGZsb3dlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
  z-index: 1;
  /* position: absolute; */
  position: relative;
  border-radius: 30px 0px 0px 30px;
}
.heading{
  /* padding-top: 10vh; */
  text-align: start;
}
.heading h2 {
  font-family: serif;
  font-weight: 700;
}
.heading span {
  font-family: poppins;
  font-weight: 500;
}

.formContainer{
  margin-left:-12px;
  border-radius: 0px 30px 30px 0px;
  
}
.btn-yellow {
  border: 1px solid rgb(242, 199, 68);
  color: white;
  cursor: pointer;
}
.btn-yellow:hover {
  background: rgb(242, 199, 68);
  cursor: pointer;
}
.registerbtn{
  margin-top: 10vh;
}
.ukImage{
  height: 4vh;
  width: 15%;
}
label{
  font-family: poppins;
  font-weight: 500;
}
input{
  height: 4vh;
}
input:focus{
  box-shadow: none;
}
.nameBlock{
  display: inline-block;
}
.numberblock{
  display: inline-block;
  margin-left: -36px;
}
.numberInput{
  width: 82%;
}

/*=======================>> Font-Awesome*/
/* .fa-umbrella{
  margin-left: 5px;
} */

/*=======================>> Font-Awesome*/

/*=======================>> Contact Form */
/*=======================>> Contact Form Responsive */

@media (max-width: 1400px){ 
  .bgImage::before{
    height: 72vh;
  }
  .bgImage{
    height: 72vh;
  }
}

@media (max-width: 1399px){ 
  .numberblock{
    margin-left: 0px;
    display: block;
  }
  .numberInput{
    width: 86%;
    
  }
  .nameBlock{
    display: block;
  }
  .ukImage{
    height: 4vh;
    width: 10%;
  }
  .bgImage::before{
    height: 66vh;
  }
  .bgImage{
    height: 66vh;
  }
  input{
    height: 4vh;
  }
  textarea{
    width: 100%;
    height: 15vh;
  }
}

@media (max-width: 991px){
  .numberInput{

    width:79%;
  }
  .ukImage{
    height: 3vh;
    width:15%;

  }
  .bgImage::before{
    height: 72vh;
  }
  .bgImage{
    height: 72vh;
  }
  input{
    height: 3vh;
  }
  textarea{
    width: 100%;
    height: 15vh;
  }
  .card-responsive{
    padding-left: 10px;
  }
  
}
@media (max-width: 767px){ 
  .formContainer{
    margin-left: 24px;
    width: 92%;
  }
  .bgImage::before{
    height: 91vh;
    
  }
  .bgImage{
    height: 91vh;
    width: 96%;
    margin-left: 12px;
  }
  .numberInput{
    width: 91%;
  }
  .ukImage{
    height: 2.5vh;
    width: 7%;
  }

  
}

/* .message{
  width: 100%;
  height: 5vh;
} */

/*=======================>> Contact Form Responsive*/



/* How Umbrell company work */
/* section {
  padding: 60px 0;
  min-height: 100vh;
} */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}.bg-gray {
  background-color: #f9f9f9;
}

.site-heading h2 {
display: block;
font-weight: 700;
/* margin-bottom: 10px; */
text-transform: uppercase;
}

.site-heading h2 span {
color: rgb(242, 199, 68);
}

.site-heading h4 {
display: inline-block;
padding-bottom: 20px;
position: relative;
text-transform: capitalize;
z-index: 1;
}

.site-heading h4::before {
background: rgb(242, 199, 68) none repeat scroll 0 0;
bottom: 0;
content: "";
height: 2px;
left: 50%;
margin-left: -25px;
position: absolute;
width: 50px;
}

.site-heading {
margin-bottom: 60px;
overflow: hidden;
/* margin-top: -5px; */
}

.carousel-shadow .owl-stage-outer {
margin: -15px -15px 0;
padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
background: #343a40 none repeat scroll 0 0;
border: 2px solid;
height: 15px;
margin: 0 5px;
width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
background: rgb(242, 199, 68) none repeat scroll 0 0;
border-color: rgb(242, 199, 68);
}

.we-offer-area .item {
background: #343a40 none repeat scroll 0 0;
border-left: 2px solid rgb(242, 199, 68);
-moz-box-shadow: 0 0 10px #cccccc;
-webkit-box-shadow: 0 0 10px #cccccc;
-o-box-shadow: 0 0 10px #cccccc;
box-shadow: 0 0 10px #cccccc;
overflow: hidden;
padding: 30px;
position: relative;
z-index: 1;
}

.we-offer-area.text-center .item {
background: #343a40 none repeat scroll 0 0;
border: medium none;
padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
background: rgb(242, 199, 68) none repeat scroll 0 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
color: #343a40;
font-size: 40px;
height: 80px;
line-height: 80px;
position: relative;
text-align: center;
width: 80px;
z-index: 1;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
border: 2px solid rgb(242, 199, 68);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
content: "";
height: 90px;
left: -5px;
position: absolute;
top: -5px;
width: 90px;
z-index: -1;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
font-family: "Poppins",sans-serif;
font-size: 50px;
font-weight: 900;
opacity: 0.1;
position: absolute;
right: 30px;
top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
background: rgb(242, 199, 68) none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
color: #343a40;
}

.we-offer-area .item i {
color: rgb(242, 199, 68);
display: inline-block;
font-size: 60px;
margin-bottom: 20px;
}

.we-offer-area .item h4 {
font-weight: 600;
text-transform: capitalize;
}

.we-offer-area .item p {
margin: 0;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
background: rgb(242, 199, 68) none repeat scroll 0 0;
content: "";
height: 100%;
left: -100%;
position: absolute;
top: 0;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
width: 100%;
z-index: -1;
}

.we-offer-area .item:hover::after {
left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
color:black !important;
}

.we-offer-area.text-center .item:hover i::after {
border-color: #343a40 !important;
}

.we-offer-area.text-center .item:hover i {
background-color: #343a40 !important;
color: rgb(242, 199, 68) !important;
}

.we-offer-area.text-left .item i {
background: rgb(242, 199, 68)none repeat scroll 0 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
color: #343a40;
display: inline-block;
font-size: 60px;
height: 100px;
line-height: 100px;
margin-bottom: 30px;
position: relative;
width: 100px;
z-index: 1;
text-align: center;
}

.we-offer-area.text-left .item i::after {
border: 2px solid rgb(242, 199, 68);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
content: "";
height: 120px;
left: -10px;
position: absolute;
top: -10px;
width: 120px;
}
/* How Umbrell company work */
/* time line */
.timer-section {
  min-height: 100vh;
}
.timer-section .container {
  padding-left: 15px;
  padding-right: 15px;
}

.timer-section .timer-container {
  list-style: none;
}
.timer-section .timer {
  list-style: none;
  position: relative;
  max-width: 750px;
  margin: auto;
}
.timer-section .timer::before {
  /* content: ''; */
  position: absolute;
  height: 100%;
  width: 2px;
  background-color:rgb(242, 199, 68);
  color: white;
  left: 50%;
  transform: translateX(-50%);
}

.timer-section .timer .step {
  width: 50%;
  padding: 20px 15px;
  position: relative;
  background-color: rgb(242, 199, 68);
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .04);
}
.timer-section .timer .step:not(:first-child),
.timer-section .timer .step:not(:last-child) {
  margin: 90px 0 60px 0;
}
.timer-section .timer .step:nth-child(odd) {
  transform: translateX(100%);
  border-left: 5px solid lightblue;
  border-radius: 0 3px 3px 0;
}
.timer-section .timer .step:nth-child(even) {
  border-right: 5px solid lightsalmon;
  border-radius: 3px 0 0 3px;
}

.timer-section .timer .step > span {
  position: absolute;
  height: 26px;
  width: 25px;
  color: #333;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 22px;
  border-radius: 3px;
  font-size: .8rem;
}
.timer-section .timer .step:nth-child(odd) > span {
  top: -40px;
  left: -13px;
  border: 2px solid lightblue;
}
.timer-section .timer .step:nth-child(even) > span {
  top: -40px;
  right: -13px;
  border: 2px solid lightsalmon;
}

.timer-section .timer .step h3 {
  margin-bottom: 15px;
}
.timer-section .timer .step p {
  font-weight: 300;
  font-size: .85rem;
  color: #555;
}

@media screen and (max-width: 500px) {
  .timer-section .timer .step {
    width: 100%;
    text-align: center;
    transform: translateX(0%);
    border-radius: 3px !important;
  }
  .timer-section .timer .step:nth-child(odd) {
    transform: translateX(0%);
    border: none;
    border-top: 2px solid lightblue;
  }
  .timer-section .timer .step:nth-child(even) {
    border: none;
    border-top: 2px solid lightsalmon;
  }
  .timer-section .timer .step span {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
/* time line */