<div class="overflow-hidden">
  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9 mainVideo">
        <video class="embed-responsive-item" src="../../assets/imgs/main-video.mp4" autoplay loop [muted]="true" style="max-width: 100%;"></video>
    </div>
    </div>
  </div>
</div>
<section id="one" #One > 
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h3 class="About-Us">
        About Us
      </h3>
      <h1 class="main-heading">
        We provide contractors and enterprises with payroll solutions.
      </h1>
      <p class="main-para">
        Organizations looking to expand their workforce may get expert assistance and guidance from Bees Umbrella, and our umbrella solutions give contractors the flexibility and discretion of a full-time employee. Our tailored approach ensures that you receive your payment on the same day, that your tax arrangements are handled expertly, and, most significantly, that you have no corporate role or duty. This allows you to take advantage of your contracting opportunities and free time.
      </p>
    </div>
    <div class="col-md-6">
      <div style="position: relative; padding-bottom: 56.25%; height: 0;">
        <video style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="../../assets/imgs/secondary-video.mp4" autoplay loop muted></video>
      </div>
    </div>
  </div>
  
  
  
  
<div class="row">
  
  <div class="col-md-6">
    
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
     
    </div>
  </div>


<!-- progressive bars -->
<div class="row"> 
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Compliance</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Speed</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="row"> 
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Informative</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Customer Support</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- progressive bars -->

<!-- <div class="container"> -->
  <div class="row mt-4">
      <!-- <button type="button" class="btn btn-outline-primary w-100" (click)="runToaster()">Primary</button> -->
      <div class="col-md-4 mb-2">
        <!-- flip-card-container -->
<div class="flip-card-container">
<div class="flip-card">

<div class="card-front">

<div class=" card-responsive d-flex align-items-center  justify-content-center  ">
<div class=" d-flex align-items-center justify-content-center rounded mb-2">
    <i class="fas fa-umbrella text-white text-end display-6"></i>
</div>
<div class="ps-3">
    <h6 class=" text-white fw-bolder mb-0"> PAYE Umbrella </h6>
    <p class="text-white text-start mb-0">Discover Our Services</p>
</div>
</div>
</div>

<div class="card-back">
<ul>
  <li>
    Easy, trouble-free setup.
  </li>
  <li>
    Short-Term Agreements (3 months)
  </li>
  <li>
    Keep the PAYE Tax Credit.
  </li>
</ul>
</div>
</div>
</div> 
</div>
      <div class="col-md-4 mb-2">
        <!-- flip-card-container -->
<div class="flip-card-container" >
<div class="flip-card">

<div class="card-front card-body">

<div class="card-responsive  d-flex align-items-center  justify-content-center">
<div class=" d-flex align-items-center justify-content-center rounded mb-2">
  <i class="card-text fas fa-coins text-white display-6"></i>
</div>
<div class="ps-3">
  <h5 class="text-white mb-0 card-text fw-bolder">Agency Managment </h5>
  <p class="text-white mb-0">Discover Our Services</p>
</div>
</div>
</div>

<div class="card-back">
</div>
</div>
</div>
</div>
      <div class="col-md-4 mb-2">
        <!-- flip-card-container -->
<div class="flip-card-container" >
<div class="flip-card">

<div class="card-front">

<div class=" card-responsive d-flex align-items-center  justify-content-center">
<div class=" d-flex align-items-center justify-content-center rounded mb-2">
  <i class="fas fa-handshake text-white display-6"></i>
</div>
<div class="ps-3">
  <h5 class="text-white mb-0 fw-bolder">Limited Company </h5>
  <p class="text-white mb-0">More About Our Services</p>
</div>
</div>
</div>
<div class="card-back">
</div>
</div>
</div>
      </div>

  </div>
</div>
<!-- </div> -->
     <!-- flip card -->

    
</section>
<!-- flip card -->
<section id="two" #Two>



<!------------------------------- Why-Join Us Our Team  -->
<div class="container">
  <div class="row">
    <h2 class="text-center main-heading my-5">Why Would You Join Our Team?</h2>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="d-flex align-items-center flex-column  justify-content-center">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-solid fa-user-plus text-white display-5"></i>
            </div>
            <div class="heading text-white">
              Flexibilty
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
              <p class="text-start"> You can work when and how you choose if you contract.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-sharp fa-solid fa-chart-pie text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">
                Hassle Free Tax
              </div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
             <p class="text-start"> Nothing to be concerned about because everything we do complies with UK laws and regulations.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-sharp fa-solid fa-shield-halved text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">Full Protection</div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
             <p class="text-start" > You have the same level of security with umbrella services as from a full-time worker. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-solid fa-credit-card text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">Quick Payments</div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
              <p class="text-start"> Get payment every week in a manner that suits you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
   
  </div> -->
</div>
<!------------------------------- Why-Join Us Our Team  -->

<div class="b py-5 mt-5">
  <div class="container text-center">
      <div class="row ">
          <div class="col-md-12 py-5 ">
              <h4>OUR CORE BELIEFES</h4>
          </div>
      </div>
    <div class="row  gx-5 gy-5">
      <div class="col-lg-4">
          <div class="card h-100 bg-dark">
              <div class="card-body">
                      <p class="  fs-4 text-start p-5 ">The ability to continuously improve the calibre of your offerings is what is meant by excellence.</p>        
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card h-100 bg-dark">
              <div class="card-body">
                  <div class="card-text">
                      <p class="p-5 text-white">As you, like us, live and breathe your business, we will work tirelessly with you to find ways to reduce your expenses, promote the expansion of your company, and ensure your financial success.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card card1 bg-dark">
              <div class="card-body">
                  <div class="card-text">
                  <h4><i  id="icons" class="fas fa-medal icon"></i></h4>
                  </div>
                  <div class="card-title">
                      <h4>Excellence</h4>
                  </div>
                  <div class="card-text">
                      <p class="p-4">Since we place a premium on quality in all we do, we will collaborate with you to help you and your company realise their full potential. Our staff will put their expertise to work helping you achieve your financial goals.</p>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="row mt-5 gx-5 gy-5">
      <div class="col-lg-4">
          <div class="card card1 p-5 bg-dark">
              <div class="card-body">
                  <div class="card-text">
                   <h4><i class="bi bi-clock-history icon"></i></h4>   
                  </div>
                  <div class="card-title">
                      <h4>Reliability</h4>
                  </div>
                  <div class="card-text">
                      <p class="py-4">Our legal teams and skilled staff both have years of expertise in their specialised industries. This implies that we can assure you that they will finish the job and save you a sizable sum of money. On us, you can rely.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card card1 p-5 bg-dark">
              <div class="card-body">
                  <div class="card-text">
                      <h4><i  id="icons" class="fas fa-pound-sign icon"></i></h4>
                  </div>
                  <div class="card-title">
                      <h4>Affordability</h4>
                  </div>
                  <div class="card-text">
                      <p class="py-4">In the end, it all boils down to cost, so we look for ways to reduce your expenses while still making a profit. Otherwise, what would be the point? You may be sure that the competent job we complete will always be covered by a fair fee.</p>
                  </div>
          </div>
              </div>
      </div>
      <div class="col-lg-4">
          <div class="card card1 p-5 bg-dark">
              <div class="card-body">
                  <div class="card-text">
                  <h4><i  id="icons" class="fas fa-handshake icon"></i></h4>       

                  </div>
                  <div class="card-title">
                      <h4>Commitment</h4>
                  </div>
                  <div class="card-text">
                      <p class="py-4">We are dedicated to helping our clients grow because by helping you grow, we can also flourish. In order to suit your company's needs, we will work directly with you, offering knowledge and initiative to guarantee your financial success.</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- our core beleifs end  -->
<!-- TIMILINe  -->

<div class="b mt-5 py-5">
<div class="container timeline-bg-color">
    <div class="row mt-4">
        <div class="col-lg-12 text-center animate__animated wow animate__fadeInDownBig">
            <h3 class="display-4 fw-bold py-5 text-white">OUR APPROACH</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

<section class="timer-section">
<div class="container">
<div class="timer-container">
<ul class="timer">
<li class="step">
  <span> 1</span>
  <div class="content text-center animate__animated wow animate__fadeInLeftBig">
    <h3>REVIEW</h3>
      <p class="text-white">
        Our staff will examine your current payment and incoming arrangement.              </p>
  </div>
</li>
<li class="step">
  <span>2</span>
  <div class="content text-center animate__animated wow animate__fadeInRightBig">
    <h3>CONSULT</h3>
      <p class="text-white">
        We provide a well-thought-out action plan that will provide you with complete coverage.              </p>
  </div>
</li>
<li class="step">
  <span> 3</span>
  <div class="  content text-center animate__animated wow animate__fadeInLeftBig">
    <h3>IMPLEMENT</h3>
      <p class="text-white">
        We will finish all of the necessary papers and make all of the required payments. delivering monthly payments and information to you.</p>
  </div>
</li>
</ul>
</div>
</div>
</section>
        </div>
    </div>
</div>
</div>

</section> 

<section id="three" #Three>
 <!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mainImage container h-100 d-flex align-items-center">
      </div>
    </div>
  </div>
 </div> -->

 <!---------------------- Our-Service -->
 <div class="container">
  <h2 class="service text-center main-heading my-4">Our Services</h2>
  <div class="row">
    <!-- <div class="col-md-4 mb-2">
      <div class="box w-100 border-dark border-2 rounded bg-dark d-flex align-items-center px-4">
        <div class="card-title">
          <h4>Fully Managed Payroll</h4>
      </div>
        <p class="text-center">
          
          To provide you control and keep you informed throughout the process, we will give you a direct line to call our payroll specialists.
        </p>
      </div>
    </div> -->
    <div class="col-lg-4 mb-5">
      <div class="card card1 p-5 h-100 bg-dark">
          <div class="card-body">
              <div class="card-text">
                 <h4><i  id="icons" class="bi bi-people-fill icon "></i></h4> 
              </div>
              <div class="card-title">
                  <h4 class="text-center">Fully Managed Payroll</h4>
              </div>
              <div class="card-text ">
                  <p class="py-4">To provide you control and keep you informed throughout the process, we will give you a direct line to call our payroll specialists.</p>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4 mb-5">
    <div class="card card1 p-5 bg-dark h-100">
        <div class="card-body">
            <div class="card-text">
            <h4><i  id="icons" class="bi bi-people icon "></i></h4>      

            </div>
            <div class="card-title">
                <h4 class="text-center">Human Resource </h4>
            </div>
            <div class="card-text">
                <p class="py-4">Every businesses will eventually require the assistance of devoted human resources specialists; our professionals are available to assist you.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 mb-5">
  <div class="card card1 p-5 h-100 bg-dark">
      <div class="card-body">
          <div class="card-text">
          <h4><i  id="icons" class="bi bi-telephone-inbound icon" ></i></h4>    
          </div>
          <div class="card-title">
              <h4 class="text-center">Direct Access</h4>
          </div>
          <div class="card-text">
              <p class="py-4">Assuring you of control and keeping you informed throughout the process, you will be given a direct line to contact our payroll specialists.
                
              </p>
          </div>
  </div>
      </div>
</div>
  </div>
 
        <div class="row border border-dark my-5">
          <div class="col-md-6 ">
            <div class="d-flex justify-content-center">
              <img src="../../assets/imgs/mainImage2.png" class="img-fluid w-100" alt="Your Image">
            </div>
            
          </div>
          <!-- <div class="col-lg-4 mb-5">
            <div class="card card1 p-5 h-100 bg-dark">
                <div class="card-body">
                    <div class="card-text">
                       <h4><i  id="icons" class="bi bi-people-fill icon "></i></h4> 
                    </div>
                    <div class="card-title">
                        <h4 class="text-center">Fully Managed Payroll</h4>
                    </div>
                    <div class="card-text ">
                        <p class="py-4">You will receive a direct line to contact our payroll experts, giving you oversight and keeping you on top of the process.</p>
                    </div>
                </div>
            </div>
        </div> -->
            <div class= "col-md-6 payroll-merge-service py-3">
                <h4 class="p-3" >Managed & Outsourced Payroll</h4>
                <div class="mx-3 ">
                <span class="px-1 py-1 text-success span-payroll border border-2 border-success ">TRUSTED</span>
                <span class="px-1 mx-4 py-1 text-success span-payroll border border-2 border-success ">COMPLAINT</span>
                <span class="px-1 py-1 text-success span-payroll border border-2 border-success ">AFFORDABLE </span>
                </div>
                <div class="mt-4">
                    <p >No matter the size of your company, outsourcing your payroll can help you save time and money.

                      Our payroll specialists can guarantee that your income tax, national insurance, and employees are paid in full and on time since they are entirely HMRC compliant.
                      
                      Payroll errors are far more likely to occur if you lack expertise or specialised knowledge and can cost you a lot of money when dealing with HMRC.
                      
                      You will benefit from the knowledge and commitment of payroll specialists if you choose to outsource your payroll services.
                      
                      Also, and perhaps most importantly, you save time because processing payroll may be difficult, drawn-out, and time-consuming.
                      
                      You will be able to focus more on your organization's core functions and business growth as a result.</p>
                </div>
            </div>
        </div>
    </div>
 <!---------------------- Our-Service -->
</section>

<section id="four" #Four>
  <div class="container">
    <div class="row">
      <div class="col-md-4  mb-2">
<div class=" bg-yellow text-center card h-100">
  <img class="card-img-rounded mx-auto d-block  w-25 h-25 my-4" src="../../assets/imgs/umbrella-icon.png" alt="">
  <div class="card-body">
    <h5 class="card-title fw-bolder">PAYE Umbrella</h5>

    <p class="px-3 pb-3 text-center card-text">All contractors should work with an umbrella firm, like Bees Umbrella, since it is a more practical method to operate and ensures that you are covered by professional indemnity, public liability, and employer's liability insurance.</p>
  </div>
  </div>


      </div>
      <div class="col-md-4 mb-2">
        <div class=" bg-yellow text-center card h-100">
          <img class="card-img-rounded mx-auto d-block w-25 h-25 my-4" src="../../assets/imgs/Handshake.png" alt="">
          <div class="card-body">
            <h5 class="card-title fw-bolder">AGENCIES</h5>
            <p class="px-3 pb-3 card-text "> You may grow as an agency by ensuring that you pay your staff on time and in a timely manner. In order to make sure that everyone is paid on time and in compliance with the law, we work with you and your contractors.</p>
          </div>
        
        </div>
      </div>
      <div class="col-md-4 mb-2 ">
        <div class=" bg-yellow text-center card h-100">
          <img class="card-img-rounded mx-auto d-block w-25 h-25 my-4" src="../../assets/imgs/Ltd-icon.png" alt="">
         <div class="card-body">
          <h5 class="card-title fw-bolder">LIMITED COMPANY</h5>
          <p class="px-3 pb-3">If you own a small business, you might be seeking for strategies to improve your work-life balance. Instead of spending your free time on payroll and documentation, you may rely on Bees Umbrella. We are here to make the payroll process at your business as seamless as possible.</p>
         </div>
         
        </div>
      </div>
    </div>
    
  </div>
  <!-- Umbrella Company vs. Limited Company: Pros and Cons Summary start -->
  <div class="container my-5">
    <div class="row animate__animated wow animate__fadeInDownBig">
        <div class="col-md-12 text-center">
            <h2 class="">Umbrella Company vs. Limited Company: Pros and Cons Summary</h2>
    
        </div>
    </div>        
            <div class="row my-5 text-center animate__animated wow animate__fadeInDownBig">
                <div class="col-md-4 ">
                    <h3 >Tax Efficiency</h3>
                </div>
                <div class="col-md-4 text-center">
                    <h3>LIMITED</h3>
                    <p>the form of contracting with the lowest tax burden. The majority of directors make meagre salaries. There are other options for tax planning, and dividends are not covered by National Insurance.</p>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Umbrella</h3>
                    <p>Your full salary is taxed under PAYE. Operating through a limited company is less advantageous tax-wise.</p>
                </div>
            </div>
            <hr class="hrcolor">
            <div class="row my-5 text-center animate__animated wow animate__fadeInDownBig">
                <div class="col-md-4 ">
                    <h3>Ease of set up and use</h3>
                </div>
                <div class="col-md-4 text-center">
                    
                    <p>Incorporating a company only takes a few hours, however filing taxes (VAT, Corporate Tax) can take a few weeks. The management of monthly accounting is crucial, as are some annual obligations for corporate directors.</p>
                </div>
                <div class="col-md-4 text-center">
                    
                    <p>No legal responsibilities, quick establishment, and little management.</p>
                </div>
            </div>
             <hr class="hrcolor">
            <div class="row my-5 text-center animate__animated wow animate__fadeInDownBig">
                <div class="col-md-4 ">
                    <h3>IR35 Consideration</h3>
                </div>
                <div class="col-md-4 text-center">
                    
                    <p>Good if you want to cater to multiple clients. the potential for being covered. Most of the tax advantages of being restricted are lost if you are caught.</p>
                </div>
                <div class="col-md-4 text-center">
                    
                    <p>IR35 is unimportant because you are already taxed as a "employee." Not ideal if you want to work for several clients at once.</p>
                </div>
            </div>
             <hr class="hrcolor">
            <div class="row my-5 text-center animate__animated wow animate__fadeInDownBig">
                <div class="col-md-4 ">
                    <h3>Duration</h3>
                </div>
                <div class="col-md-4 text-center">
                    
                    <p>It is not appropriate for short-term contracts because to the administrative labour needed to establish and shut down the company.</p>
                </div>
                <div class="col-md-4 text-center">
                    
                    <p>Good for contracts with limited duration.</p>
                </div>
            </div>
             <hr class="hrcolor">
            <div class="row my-5 text-center animate__animated wow animate__fadeInDownBig">
                <div class="col-md-4 ">
                    <h3>contracts with low pay</h3>
                </div>
                <div class="col-md-4 text-center">
                  
                    <p>Projects that pay less than £15 to £20 per hour are typically not advised.</p>
                </div>
                <div class="col-md-4 text-center">
                   
                    <p>Good for contracts with lower salary.</p>
                </div>
            </div>
            
            
        </div>
    <!-- Umbrella Company vs. Limited Company: Pros and Cons Summary end -->
</section>

<section id="five" #Five>
  <div class="container">
    <div class="row  ">
        <div class="row">
            <div class="row text-center  ">
                
              <div class="we-offer-area text-center ">
                
                <div class="container ">
                    <div class="row">
                     <h2 class="text-center display-6 fw-bold">How an Umbrella Business Operates</h2>
                        
                    </div>
                      <div class="row our-offer-items less-carousel my-5">
                            <!-- Single Item -->
                            <div class="col-md-4 col-sm-6 equal-height ">
                                <div class="item h-100">
                                    <i class="fas fa-pen-fancy"></i>
                                    <h4>STEP 1</h4>
                                    <p>
                                      Once you have secured a contract position, the umbrella firm (as your "employer") enters into a contract with your recruitment agency.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
          
                            <!-- Single Item -->
                            <div class="col-md-4 col-sm-6 equal-height ">
                                <div class="item h-100">
                                    <i class="fas fa-dharmachakra"></i>
                                    <h4>STEP 2</h4>
                                    <p>
                                      A contract for work with the umbrella will also be signed. 
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
          
                            <!-- Single Item -->
                            <div class="col-md-4 col-sm-6 equal-height ">
                                <div class="item h-100">
                                    <i class="fas fa-tasks"></i>
                                    <h4>STEP 3</h4>
                                    <p>
                                      You fill out a timesheet after working for a predetermined amount of time, have your management to sign it, and then email it to your recruitment agency and the umbrella company. 
                                    </p>  
                                </div>
                            </div>
                            <!-- End Single Item -->
          
                            <!-- Single Item -->
                            <div class="col-md-4 col-sm-6 equal-height">
                                <div class="item h-100">
                                    <i class="fas fa-tachometer-alt"></i>
                                    <h4>STEP 4</h4>
                                    <p>
                                      The recruitment agency will be billed by the umbrella firm, who will then bill the final customer. 
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
          
                            <!-- Single Item -->
                            <div class="col-md-8 col-sm-6 equal-height">
                                <div class="item">
                                    <i class="fas fa-recycle"></i>
                                    <h4>STEP 5</h4>
                                    <p>
                                      After processing your payroll and paying you a salary after subtracting employment taxes, the pre-negotiated umbrella fee/margin, personal taxes, and pension contributions, the umbrella firm processes your payroll after it gets payment from the agency (if applicable).
                                      One-day setup and the granting of some legal benefits like sick pay, holiday pay, and employment protection are further advantages of employing an umbrella. This offers some employment stability for contractors as well as a rapid and effective method of payment. Yet, entirely eliminating the danger posed by IR35 is the biggest advantage of contracting through an umbrella, which also explains their rising popularity.
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                </div>
            </div>
            </div>
          </div>
    </div>
</div>
<div class="mt-5 b py-5 mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center animate__animated wow animate__fadeInDownBig">
            <h2 class="text-center display-6 fw-bold">AGENCIES</h2>
            <h4>Payroll Simplifies Work</h4>
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-lg-7 ">
          <div class="card  icons-color-bg p-5 h-100  bg-dark">
              <p>The best aspects of financial planning and investment management are combined in this plan.</p>

          <p>Our service gives contractors the assurance that they will be paid on time and that they can get in touch with a friendly team for assistance with payroll issues.</p>

          <p>We offer an accountable, law-abiding, and dependable umbrella service so that everyone may concentrate on what they do best. So that they may concentrate on their work, we make sure that your contractors are paid fairly, on time, and every time. Our onboarding process is so straightforward that your contractors can get registered with us and start working within hours.</p>
          </div>
          </div>
         <div class="offsetlg-1 col-lg-4 ">
          <div class="card icons-color-bg p-5 bg-dark">
              <p>In order to provide contractors and freelancers peace of mind and to reassure them that we are making every effort to ensure that their earnings are received without trouble, Bees Umbrella offers payroll services.</p>
          <p>The success of your agency depends on you making sure that your employees are paid accurately and on time. In order to make sure that everyone is paid on time and that all standards are met, we work with you and your contractors.</p>
         
          </div>
         </div>
      </div>
     
  </div>
</div>
  <div class="container  p-0 my-5 ">
    
    
    <div class="row   ">
      <div class="col-md-6 ">
        <div class="bgImage border-primary">
            <div class="px-5">
             <h2 class="text-center pt-5" > Contact-Us</h2>
             <p class="mt-5">Call a consultant to chat with one, or sign up for a callback, to begin your road towards hassle-free payroll.</p>
             <button type="button" class="btn text-white mt-3 d-block mb-4 bg-yellow rounded-0"><i class="fa-solid fa-phone me-2"></i>030328423</button>
             <span class="pt-5">Please don't hesitate to use our contact form if you have any additional questions.</span>
             <button type="button" class="btn registerbtn btn-yellow ms-2 d-block w-100 rounded-0"><i class="fa-solid fa-calendar-days me-2"></i><span>Register-here</span></button>
            </div>
        </div>
      </div>
    <div class="col-md-6 bg-yellow g-0 formContainer">
      <div class="formbox p-3">
        <form (ngSubmit)="submitContactForm()" [formGroup]="contactForm">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3 nameBlock">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text"  class="form-control" formControlName="firstName">
    
                <!-- Vaidation -->
                <div class="error  text-danger"
                  *ngIf="contactForm.controls['firstName'].invalid && (contactForm.controls['firstName'].dirty || contactForm.controls['firstName'].touched)">
                  <span *ngIf="(contactForm.controls['firstName'].errors.pattern)">
                    Alphabest Is Permitted Only !!</span>
                  <span *ngIf="contactForm.controls['firstName'].errors.required">
                      <small>Field Required!</small>
                  </span>
               </div>
                <!-- Vaidation -->
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="mb-3 numberblock">
                <label for="exampleInputEmail1" class="form-label d-block">Number</label>
               <img src="../../assets/imgs/uk.png" alt="" srcset="" class="image-fluid ukImage"> <input type="tel" class="form-control d-inline-block numberInput ms-2" formControlName="phone">
               <!-- Vaidation -->
               <div class="error  text-danger"
                    *ngIf="contactForm.controls['phone'].invalid && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)">
                    <span *ngIf="(contactForm.controls['phone'].errors.pattern)">
                        Phone Number should be numeric</span>
                        <span *ngIf="contactForm.controls['phone'].errors.minlength || contactForm.controls['phone'].errors.maxlength ">
                            <small>Phone number must be at least 11 numbers</small></span>
                    <span *ngIf="contactForm.controls['phone'].errors.required">
                        <small>Field Required!</small>
                    </span>
              </div>
               <!-- Vaidation -->
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="emailAddress">
            <!-- Vaidation -->
            <div class="error  text-danger"
            *ngIf="contactForm.controls['emailAddress'].invalid && (contactForm.controls['emailAddress'].dirty || contactForm.controls['emailAddress'].touched)">
            <span *ngIf="contactForm.controls['emailAddress'].errors.email">
                <small>Use example@example.com as the proper pattern.</small></span>
            <span *ngIf="contactForm.controls['emailAddress'].errors.required">
                <small>Field Required!</small>
            </span>
        </div>
            <!-- Vaidation -->
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Subject</label>
            <input type="text" class="form-control" formControlName="subject">
            <!-- Vaidation -->
            <div class="error  text-danger"
                *ngIf="contactForm.controls['subject'].invalid && (contactForm.controls['subject'].dirty || contactForm.controls['subject'].touched)">
                <span *ngIf="contactForm.controls['subject'].errors.maxlength ">
                    <small>The subject line should not exceed 20 characters.</small></span>
                <span *ngIf="contactForm.controls['subject'].errors.required">
                    <small>Field Required!</small>
                </span>
            </div>
            <!-- Vaidation -->
          </div>
          <label for="" class="mb-3">Message</label>
          <textarea name="" id="" cols="30" rows="10" class="w-100" formControlName="message">
            <!-- Vaidation -->
            <div class="error  text-danger"
            *ngIf="contactForm.controls['message'].invalid && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)">
            <span *ngIf="contactForm.controls['message'].errors.maxlength ">
                <small>No message shall exceed 500 characters.</small></span>
            <span *ngIf="contactForm.controls['subject'].errors.required">
                <small>Field Required!</small>
            </span>
        </div>
            <!-- Vaidation -->
          </textarea>
          <button type="submit" class="btn btn-outline-dark w-100 mt-3 rounded-0" [disabled]="contactForm.invalid">Submit</button>
        </form>
     </div>
    </div>
  </div>
  </div>
</section>